/* Basic Standard theme set */
* {
  color: #dadada;
  font-family: "Montserrat", "JetBrains Mono", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  color: #FFFFFF;
}

body {
  background-color: #151515;
}

p{
  padding: 10px;
}


/* Header Format */
header {
  position: fixed;
  object-position: top center;
  background-color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
  object-fit: cover;
}

.logo {
  font-family: "Cal Sans", sans-serif;
  width: 500px;
  max-width: 70%;
}

.menu-button {
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.NavContainer{
  background-color: #9B00FF;
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  right: 30%;
  z-index: 20;
  translate: -700% 0;
}

.close-button {
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.NavContainer nav ul{
  list-style: none;
  color: #FFFFFF;
  align-items: center;
  width: 60%;
}
/* #9B00FF */
/* #8FFE09 */
/* #B0FF00 */
/* #A4C639 */


/* Font Infomation */

/* .cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */