*{
    color: #dadada;
    font-family: "Montserrat", "JetBrains Mono", sans-serif;
    margin: 0;
    padding: 0;
}

h1{
  color: #FFFFFF;
}
body{
    background-color: #151515;
}

header{
    background-color: rgb(10, 10, 10);
    position: relative;
    margin: 0;
    padding: 3px;
}

.logo{
    font-family: "Cal Sans", sans-serif;
    width: 500px;
    max-width: 70%;
}

/* Font Infomation */

/* .cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */