.part1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

video.BgMainVideo {
  position: relative;
  filter: brightness(50%);
  object-fit: cover;
  object-position: center;
  z-index: -10;
  height: 100vh;
  min-width: 100%;
}

.dynamic-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: #00000000;
  position: absolute;
  font-size: 6vw;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  object-fit: cover;
  white-space: nowrap;
}

.FirstLetterOfDynamicText {
  font-size: 250%;
  margin-bottom: 1vh;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  color: #8FFE09;
}

.dynamic-txt-font {
  font-size: 200%;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  color: #8FFE09;
}



.hiText {
  font-family: "Cal Sans", sans-serif;
  font-size: 200%;
  font-weight: 300;
  color: #a113ff;
  position: relative;
  margin-top: 10px;
  width: auto;
  padding: 10px;
  transform: translateX(-80%);
  transition: transform 1s ease-in-out;
}

.hiText.show {
  transform: translateX(0);
}

hr {
  border: none;
  border-top: 5px solid #8FFE09;
  margin: 10px 0;
  width: 10%;
  transition: width 1s ease-in-out;
  position: relative;
  display: block;
  margin-left: auto;
}

hr.show {
  width: 100%;
  right: 0;
}

.CarrouselButton {
  background-color: #202020;
  color: #8FFE09;
  font-size: 24px;
  border: 4px solid #9B00FF;
  padding: 5px;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.CarrouselNext {
  right: 0;
}

.CarrouselPrev {
  left: 0;
}


.PortfolioCarrouselContainer {
  padding: 0;
  height: 80vh;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.PortfolioCarrouselItems {
  position: relative;
  width: 90vw;
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 90%;
  flex-direction: row;
  align-self: center;
}

.PortfolioCarrouselItem {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  align-self: center;
  background-color: #090909;
  border-radius: 40px;
  padding: 20px;
  position: relative;
}

@media screen and (orientation: portrait) {
  .PortfolioCarrouselItem {
    flex-direction: column;
  }
}

.PortfolioCarrouselItem .one {
  height: 100%;
  width: 60vw;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PortfolioCarrouselItem .one img {
  object-fit: contain;
  object-position: center;
  height: 100%;
}

.CarrouselTitle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 650%;
}

@media screen and (orientation: portrait) {
  .PortfolioCarrouselItem .one {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .CarrouselTitle {
    font-size: 300%;
  }

  .PortfolioCarrouselItem .two {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* me */

.me-card {
  margin: auto;
  width: calc(100vw - 100px);
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-color: #090909;
  border-radius: 20px;
  position: relative;
}

.me-card p {
  text-align: justify;
  padding: 20px;
}

.me-card {
  flex-direction: column;
  margin: auto;
  width: calc(90vw - 0px);
  justify-content: center;
  align-items: center;
}

.me-card img {
  width: 90%;
  margin: auto;
}
.meImage{
  display: flex;
  position: relative;
  margin: auto;
  width: 90vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.me hr {
  margin: 2vh auto;
  border-top: 4vh solid #9B00FF;
  transition: width 3s ease-in-out;
}

.me .hiText {
  color: #8FFE09;
}

@media(orientation: portrait) {
  .me-card {
    flex-direction: column;
    margin: 5px;
    width: calc(100vw - 5px);
    justify-content: center;
    align-items: center;
  }
  .meImage{
    justify-content: left;
  }
  .me-card img {
    width: 90vh;
  }
}

.Portfolios {
  padding: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Portfolios video {
  height: 100%;
}

.Portfolios h2 {
  color: #8FFE09;
  padding: 10px;
}

.PortfolioVideoContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.MadeInBlenderSign {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 20px;
}

.MadeInBlenderSign h3 {
  font-size: 40px;
}

.MadeInBlenderSign img {
  height: 70px;
  width: auto;
}

@media (max-width: 470px) {
  .MadeInBlenderSign h3 {
    font-size: 30px;
    white-space: nowrap;
  }

  .MadeInBlenderSign img {
    height: 40px;
  }

}

/* #9B00FF */
/* #8FFE09 */
/* #202020 */