.part1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

video.BgMainVideo {
  position: relative;
  filter: brightness(50%);
  object-fit: cover;
  object-position: center;
  z-index: -10;
  height: 100vh;
  min-width: 100%;
}

.dynamic-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: #00000000;
  position: absolute;
  font-size: 6vw;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  object-fit: cover;
  white-space: nowrap;
}

.FirstLetterOfDynamicText {
  font-size: 250%;
  margin-bottom: 1vh;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  color: #8FFE09;
}

.dynamic-txt-font {
  font-size: 200%;
  font-family: "JetBrains Mono", "Cal Sans", sans-serif;
  color: #8FFE09;
}



.hiText {
  font-family: "Cal Sans", sans-serif;
  font-size: 200%;
  font-weight: 300;
  color: #a113ff;
  position: relative;
  margin-top: 10px;
  width: auto;
  padding: 10px;
  transform: translateX(-80%);
  transition: transform 1s ease-in-out;
}

.hiText.show {
  transform: translateX(0);
}

.AboutIntro hr {
  border: none;
  border-top: 5px solid #8FFE09;
  margin: 10px 0;
  width: 10%;
  transition: width 1s ease-in-out;
  position: relative;
  display: block;
  margin-left: auto;
}

.AboutIntro hr.show {
  width: 100%;
  right: 0;
}

.CarrouselButton {
  background-color: #151515;
  color: #8FFE09;
  font-size: 24px;
  border: 4px solid #9B00FF;
  padding: 5px;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* ✅ this is the missing line */
}

.CarrouselNext {
  right: 0;
}

.CarrouselPrev {
  left: 0;
}


.PortfolioCarrouselContainer {
  padding: 0;
  height: 80vh;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.PortfolioCarrouselItems {
  position: relative;
  width: 90vw;
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 90%;
  flex-direction: row;
  align-self: center;
}

.PortfolioCarrouselItem {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  align-self: center;
  background-color: #0e0e0e;
  border-radius: 40px;
  padding: 20px;
  position: relative;
}

@media screen and (orientation: portrait) {
  .PortfolioCarrouselItem {
    flex-direction: column;
  }
}

.PortfolioCarrouselItem .one{
  height: 100%;
  width: 60vw;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PortfolioCarrouselItem .one img {
  object-fit: contain;
  object-position: center;
  height: 100%;
}
.CarrouselTitle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 600%;
}

@media screen and (orientation: portrait) {
  .PortfolioCarrouselItem .one{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .PortfolioCarrouselItem .one H2 {
    font-size: 250%;
  }
  .PortfolioCarrouselItem .two {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* #9B00FF */
/* #8FFE09 */
/* #151515 */