.part1{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
video.BgMainVideo {
  position: relative;
  filter: brightness(50%);
  object-fit: cover;
  object-position: center; 
  z-index: -10;
  height: 100vh;
  min-width: 100%;
}
.dynamic-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 30;
    background-color: #00000000;
    position: absolute;
}
