.container{
    font-family: var(--font-code);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-black);
    text-overflow: wrap;
    text-align: center;
}
.line {
    width: 100%;
    border: 1px solid var(--green);
    margin: 2rem 0;
}
.title{
    font-family: var(--font-headers);
    font-weight: 200;
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--purple);

}

.subtitle{
    font-family: var(--font-code);
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--green);
}

.link {
    text-decoration: none;
    color: var(--green);
    font-family: var(--font-code);
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.link:hover {
    color: var(--purple);
    font-size: 1.8rem;
}