/* Ensure the container is exactly the size of the screen */
.canvas-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeMessage{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-code);
  font-size: 10vw;
  font-weight: 300;
  color: var(--green);
  overflow: hidden;
}
/* Make the video fill the background like a cover image */
.next-section {
  position: sticky;
  top: 0;;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-black);
  z-index: 2;
  text-align: center;
}
.next-section h2{
  font-family: var(--font-headers);
  font-weight: 200;
  font-size: 3rem;
}

.next-section * {
  opacity: 0.5;
  scale: 1;
  animation: myAnimation 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  60% {
    opacity: 0.5;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}



.green {
  color: var(--green);
}
.purple {
  color: var(--purple);
}