/* Ensure the container is exactly the size of the screen */
.herovideo{
  position: relative;
  width: 100%;
  height: 200vh;
  overflow: clip;
  display: flex;
  justify-content: top;
  align-items: top;
}

.sticky{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.sticky video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcomeMessage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-code);
  font-size: 10vw;
  font-weight: 300;
  color: var(--green);
  scale: 1;
  backdrop-filter: blur(0px);
  will-change: backdrop-filter;
  animation: becomeBig 1s ease-in-out forwards;
  animation-timeline: scroll();
  animation-range: entry 0% cover 50%;
}

@keyframes becomeBig {
  0% {
    scale: 1;
    backdrop-filter: blur(0px);
  }
  10% {
    scale: 1.3;
    backdrop-filter: blur(3px);
  }
  100% {
    scale: 2;
    backdrop-filter: blur(10px);
  }

}

/* Make the video fill the background like a cover image */
.next-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-black);
  text-align: center;
  text-overflow: wrap;
}
.next-section p{
  font-family: var(--font-code);
  font-weight: 100;
  font-size: 1.5rem;
}
.next-section h2{
  font-family: var(--font-headers);
  font-weight: 200;
  font-size: clamp(2rem, 5vw, 5rem);
}

.next-section * {
  opacity: 0.5;
  scale: 1;
  animation: myAnimation 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  60% {
    opacity: 0.5;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}


.green {
  color: var(--green);
}
.purple {
  color: var(--purple);
}